@model List<AppUser>
@{
    Layout = "_Layout";
}
<a asp-action="Create" asp-controller="User" class="d-inline-block my-2 btn btn-warning">Yeni Kullanıcı Oluştur</a>
<table class="table table-bordered table-hovered table-sm">
    <thead>
        <tr>
            <th>Username</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Role Info</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Gender</td>
                <td>@item.Email</td>
                <td><getUserInfo user-id="@item.Id"></getUserInfo></td>
                <td>
                    <a asp-action="AssignRole" asp-controller="User" asp-route-id="@item.Id">Assign Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>